* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.aboutme {
text-align: center;
vertical-align: middle;
padding-top: 15%;
}

.active {
    background-color: #004d80;
  }

.background {
    background: url(pawel-nolbert-284283-unsplash.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}

.background2 {
    background: url(shifaaz-shamoon-197333-unsplash.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}

.background3 {
    background: url(john-towner-154060-unsplash.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.background4 {
    background: url(andre-benz-248744-unsplash.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.caption {
  display: inline-block;
}

.wrap {
  list-style-type: none;
  background-color: #0077b3;
  width: auto;
  height: 45px;
  margin: -10px;
  overflow: hidden;
  text-align: center;
  min-width: 1000px;

}

.navbar {
  float:left;
  display: inline;

}

body {
  background-size:cover;
}

.button {
  display: inline;
}

.text {
  border-style: solid;
  border-color: black;
  color: white;
  background-color: white;
  padding:inherit;
  background: rgba(0, 102, 102, 0.9);
  margin-left: 200px;
  margin-top: 100px;
  margin-right: 200px;
  font-size: 110%;
  font-family: sans-serif;
}


.example {
  height: 200px;
  margin-top: 50px;
  margin-left: 85px;
}

.text, .headshot {
  display: inline-block;
}

.title {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-right: 150px;
}


li a {
    display: inline;
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding: 22px 16px;
    text-decoration: none;
    margin-left: -4px;
}

li a:hover:not(.active) {
    background-color: #005580;
  }

.padding {
  padding-left: 20px;
  padding-right: 20px;
}

.profile {
border-style: solid;
border-radius: 30px;
padding-left: 25px;
padding-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
}

.portfolio {
    border-style: solid;
    border-color: black;
    margin-top:100px;
    margin-left: 150px;
    margin-right: 150px;
    text-decoration: none;
    background: rgba(32, 64, 96, .9);
    min-width: 375px;
    min-height: 300px;
    display: inline-block;
  }

  .gallery {
    margin:50px;
    margin-left: 75px;
    border: 1px solid black;
    float: left;
    width: 180px;
  }

  .gallery:hover {
    border" 1px solid black;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

.desc {
  padding: 10px;
  margin-top:-4px;
  text-align: center;
  background-color: #649ca4;
  color: black;
  font-family: sans-serif;
}
.welcome {
  font-size: 30px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
