
a {
  color: white;
  text-decoration: none;
}
.aboutme {
text-align: center;
vertical-align: middle;
padding-top: 15%;
}

.active {
    background-color: #004d80;
  }

.background {
    background: url(pawel-nolbert-284283-unsplash.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}

.background2 {
    background: url(nathan-anderson-291067-unsplash.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}

.background3 {
    background: url(bobby-burch-145906-unsplash.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}

.wrap {
  list-style-type: none;
  background-color: #0099ff;
  width: auto;
  height: 45px;
  margin: -10px;
  overflow: hidden;
  text-align: center;
  min-width: 1000px;

}

.navbar {
  float:left;
  display: inline;

}

body {
  background-size:cover;
}

.button {
  display: inline;
}

.text {
  color: white;
  opacity: 100%;
  margin-left: 200px;
  margin-top: 100px;
  margin-right: 200px;
  font-size: 110%;
  font-family: sans-serif;
}

.text, .headshot {
  display: inline-block;
}

.title {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-right: 200px;
}


li a {
    display: inline;
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding: 22px 16px;
    text-decoration: none;
    margin-left: -4px;
}

li a:hover:not(.active) {
    background-color: #007acc;
  }

.profile {
border-style: solid;
border-radius: 30px;
padding-left: 25px;
padding-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
}

.portfolio {
    border-style: double;
    border-width:5px;
    border-color: black;
    padding-bottom: 100px;
    margin-top:100px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #668cff;
    background: rgba(204, 204, 204, .3);
    text-decoration: none;
  }

.welcome {
  font-size: 30px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.Row1 {
  border-style: dashed;
  border-color: black;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  padding-bottom: 100px;
}
